.pageContainer{
    display: flex;
}
#sidebar{
    width: 20%;
}
.blog span{
    text-align: justify;
}
.blogForm input textarea{
    width: 80%;
    box-sizing: border-box;
}

.navbarContainer{
    display: flex;
    justify-content: space-between;
    background: rgb(131, 54, 54);
    width: 100vw;
}
.navbarContainer h2{
    padding: 20px;
}
.navbar{
    display: flex;
    /* list-style-type: none; */
    float: right;
    padding: 20px;
}

.navbar a{
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.navbar button{
    background-color: rgba(18, 18, 240, 0.596);
    border-radius: 6px;
    border: none;
    padding: 10px;
    margin: 10px;
    color: white;
    width: 80px;
}
.signUp input{
    height: 40px;
}
.login{
    display: flex;
    flex-direction: column;
}
.login input{
    height: 40px;
    width: 50%;
    box-sizing: border-box;
}
#loginBtn{
    color: white;
    background-color: teal;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-size: 18px;
    margin-top: 10px;
}